In [2]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [3]:
df = pd.read_csv("survival_data.csv")
df.loc[:, "censored"] = 1-df.broken
df.head()

,lifetime,broken,pressureInd,moistureInd,temperatureInd,team,provider,censored
0,56,0,92.178854,104.230204,96.517159,TeamA,Provider4,1
1,81,1,72.075938,103.065701,87.271062,TeamC,Provider4,0
2,60,0,96.272254,77.801376,112.196170,TeamA,Provider1,1
3,86,1,94.406461,108.493608,72.025374,TeamC,Provider2,0
4,34,0,97.752899,99.413492,103.756271,TeamB,Provider1,1

In [4]:
df_filter = df.drop(["pressureInd", "moistureInd", "temperatureInd", "team", "provider"], axis = 1)

df_sort = df_filter.sort_values(by = "lifetime")
df_sort = df_sort.reset_index(drop = True)
df_sort

     lifetime  broken  censored
0           1       0         1
1           1       0         1
2           1       0         1
3           1       0         1
4           1       0         1
..        ...     ...       ...
995        93       1         0
996        93       1         0
997        93       1         0
998        93       1         0
999        93       1         0

[1000 rows x 3 columns]

In [5]:
df_group = df_sort.groupby(by = "lifetime").sum()
# first row calculations
df_group.loc[1, "n_samples"] = len(df_sort)
df_group.loc[1, "hf"] = df_group.broken[1]/df_group.n_samples[1]
df_group.loc[1, "chf"] = df_group.loc[1, "hf"]
df_group.loc[1, "survival"] = 1-df_group.loc[1, "hf"]

df_group

          broken  censored  n_samples   hf  chf  survival
lifetime
1              0         5     1000.0  0.0  0.0       1.0
2              0        11        NaN  NaN  NaN       NaN
3              0         3        NaN  NaN  NaN       NaN
4              0         8        NaN  NaN  NaN       NaN
5              0        10        NaN  NaN  NaN       NaN
...          ...       ...        ...  ...  ...       ...
88            42         4        NaN  NaN  NaN       NaN
89             1         0        NaN  NaN  NaN       NaN
90             0         1        NaN  NaN  NaN       NaN
92            32         0        NaN  NaN  NaN       NaN
93            32         0        NaN  NaN  NaN       NaN

[90 rows x 6 columns]